
<div class="image row col-md-12">
<%= image_tag @post.photo.url() %>
</div>
<div class="row col-md-12">
  <h2> <%= @post.title %> </h2>
</div>
<div class="row col-md-12 author">
  Postado por: <strong> <%= @post.user.email %> </strong>
</div>
<%= link_to '<i class="fas fa-arrow-left"></i> Voltar'.html_safe, posts_path, class: "btn btn-sm btn-primary" %>
<br/>